.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    padding: 5px 0;
    margin-right: 10%;
    border-radius: 3px;
    float: right;
    font-size: 16px;
    color: #fff;
    background: #fff;
    border-color: #fff;
    outline: none;
}

#input-section .input-form .form-input-group {
    width: 80%;
    height: 55px;
    margin: 0 auto 10px;
    border-radius: 5px;
    text-align: left;
    position: relative;
}

#input-section .input-form {
    margin-top: 40px;
    min-height: 400px;
}

#input-section .input-form .form-input-group input {
    padding-left: 25px;
    width: 100%;
    font-size: 14px;
    height: 100%;
    border-radius: 3px;
    border: 2px solid rgba(169, 169, 169, 0.22);
    outline: none;
}

#input-section h3 {
    margin-bottom: -20px;
}

#input-section .input-form .form-input-group input::-webkit-input-placeholder,
#input-section .input-form .form-input-group input:-moz-placeholder,
#input-section .input-form .form-input-group input::-moz-placeholder,
#input-section .input-form .form-input-group input:-ms-input-placeholder {
    color: #BCC1C3;
}
