body {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html {
    width: 100vw;
    height: 100vh;
}

img {
    width: 80px;
}

@media(min-width:767px) {
    .navbar {
        padding: 15px;
        background: #28abe3;
        border: transparent;
        -webkit-transition: background .5s ease-in-out;
        -moz-transition: background .5s ease-in-out;
        transition: background .5s ease-in-out;
    }
}

.navbar-header {
    background: #28abe3;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: rgba(0, 0, 0, 0.1);
}

.navbar {
    border: transparent;
}

.navbar-nav>li>a.page-link {
    color: #fff;
    cursor: pointer;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

a.page-sm-link {
    color: #9fa2a1;
    cursor: pointer;
    padding-bottom: 10px;
    font-weight: 600;
    text-decoration: none;
}

.navbar-nav>li>a.page-link:hover,
.navbar-nav>li>a.page-link:focus {
    color: rgba(255, 255, 255, 0.6);
}

section {
    height: 100vh;
    padding-top: 120px;
    text-align: center;
    position: relative;
    z-index: 20;
    height: 100%;
    overflow: auto;
}

.section-header {
    padding: 30px 20px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    font-size: 24px;
    color: #fff;
}

a.no-display[href="#"] {
    display: none;
}

#route canvas {
    width: calc(100vw - 50px) !important;
    height: 70vh !important;
}
